Code .NET/LoginActivity/LoginActivity/Connected Services/DecryptionService/Decryption1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeTypeDecrypt">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecryptedFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDecrypted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportFile" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeTypeDecrypt" nillable="true" type="tns:CompositeTypeDecrypt" />
</xs:schema>