Code .NET/LoginActivity/LoginActivity/Connected Services/DecryptionService/Decryption.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55397/Service/Decryption.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55397/Service/Decryption.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebService.Service" />
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenApi" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="files" nillable="true" type="q1:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService.Service" minOccurs="0" name="DecryptResult" nillable="true" type="q2:CompositeTypeDecrypt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>