Code .NET/LoginActivity/LoginActivity/Connected Services/AuthenticationService/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeTypeAuthenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAuthentified" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeTypeAuthenticate" nillable="true" type="tns:CompositeTypeAuthenticate" />
</xs:schema>